.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.loginFormContainer {
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.loginFormField {
  height: 28px;
  width: 100%;
  border: none;
  border-bottom: 2px solid orange;
  outline: none;
}

.heading {
  color: orange;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.loginSubmitButton {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.loginParagraph {
  margin-top: 30px;
}

.link {
  text-decoration: none;
}

.errorMessage {
  color: orange;
  margin-left: 20px;
}

.loginInputField {
  width: 100%;
}

@media (max-width: 480px) {
  .loginFormContainer {
    width: 400px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}
